<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/result-style.css">
</head>
<body>
    <div class="container">
        <h1 class="main-title">Game Over</h1>
        <h2 class="score">Your Score: <%= score %></h2>
        <h2 class="highscore">High Score: <%= highscore %></h2>
        <a href="/">Restart</a>

        <% if (score >= highscore && score>0) { %>
            <div class="new-highscore">🎉 You are the new high scorer! 🎉</div>
        <% } %>
    </div>
</body>
</html>
